.signin-table {
    border: 0px;
}
.signin-th {
    font-weight: normal;
}

.signup-table {
    border: 0px;
}

.books-table {
    border: 1px solid black;
    border-collapse: collapse;
}

.books-table-th {
    border: 1px solid black;
}

.books-table-td {
    border: 1px solid black;
    border-collapse: collapse;
}

.books-list-table-td {
    border: 0px solid black;
    border-collapse: collapse;
}

u {
    color: blue;
}

input[type=text] {
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=password] {
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=password]:focus {
    border: 3px solid #555;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 4px;
}